<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.4-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 153.6 MB/s eta 0:00:00
Downloading numpy-2.3.4-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 122.5 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.4 pandas-2.3.3 tzdata-2025.2

In [15]:
!pip install numpy

Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (2.3.4)

In [17]:
import numpy as np

In [18]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [4]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [6]:
print("="*60)
print("TASK 1: Display the top 5 rows from the dataset")
print("="*60)
print(df.head())
print("\n")

============================================================
TASK 1: Display the top 5 rows from the dataset
============================================================
   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [7]:
print("="*60)
print("TASK 2: Number of rows in the dataset")
print("="*60)
num_rows = df.shape[0]
print(f"Number of rows: {num_rows}")
print("\n")

============================================================
TASK 2: Number of rows in the dataset
============================================================
Number of rows: 65457

Print the number of columns in the dataset.

In [8]:
print("="*60)
print("TASK 3: Number of columns in the dataset")
print("="*60)
num_columns = df.shape[1]
print(f"Number of columns: {num_columns}")
print("\n")

============================================================
TASK 3: Number of columns in the dataset
============================================================
Number of columns: 114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [13]:
print("="*60)
print("TASK 4: Data types of all columns")
print("="*60)
print(df.dtypes)
print("\n")

# Alternative: More detailed info
print("Detailed information about the dataset:")
print(df.info())
print("\n")

============================================================
TASK 4: Data types of all columns
============================================================
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object


Detailed information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

Print the mean age of the survey participants.

In [21]:
print("="*60)
print("TASK 5: Mean age of survey participants")
print("="*60)

# Check if Age column is numeric or categorical
if df['Age'].dtype == 'object':
    print("Note: Age column contains categorical data (age ranges), not numeric values.")
    print("\nAge distribution:")
    print(df['Age'].value_counts().sort_index())
    print(f"\nMost common age group: {df['Age'].mode()[0]}")
    
    # Calculate mean age using midpoint of each age range
    print("\n" + "-"*60)
    print("Calculating mean age using midpoint of each age range:")
    print("-"*60)
    
    def age_range_to_midpoint(age_range):
        """Convert age range to its midpoint value"""
        age_range = str(age_range).strip()
        
        if 'Under 18' in age_range:
            return 16  # Assume midpoint for under 18
        elif '18-24' in age_range:
            return 21
        elif '25-34' in age_range:
            return 29.5
        elif '35-44' in age_range:
            return 39.5
        elif '45-54' in age_range:
            return 49.5
        elif '55-64' in age_range:
            return 59.5
        elif '65 years or older' in age_range:
            return 70  # Assume 70 for 65+
        elif 'Prefer not to say' in age_range:
            return None  # Will be handled as NaN
        else:
            return None
    
    # Apply the conversion function
    df['Age_Numeric'] = df['Age'].apply(age_range_to_midpoint)
    
    # Calculate mean age
    mean_age = df['Age_Numeric'].mean()
    
    print(f"\nEstimated mean age (using midpoints): {mean_age:.2f} years")
    
    # Show the conversion mapping
    print("\nAge range to midpoint mapping used:")
    age_mapping = df[['Age', 'Age_Numeric']].drop_duplicates().sort_values('Age_Numeric')
    print(age_mapping.to_string(index=False))
    
else:
    mean_age = df['Age'].mean()
    print(f"Mean age: {mean_age:.2f} years")
print("\n")

============================================================
TASK 5: Mean age of survey participants
============================================================
Note: Age column contains categorical data (age ranges), not numeric values.

Age distribution:
Age
18-24 years old       14105
25-34 years old       23913
35-44 years old       14948
45-54 years old        6251
55-64 years old        2575
65 years or older       773
Prefer not to say       322
Under 18 years old     2570
Name: count, dtype: int64

Most common age group: 25-34 years old

------------------------------------------------------------
Calculating mean age using midpoint of each age range:
------------------------------------------------------------

Estimated mean age (using midpoints): 33.01 years

Age range to midpoint mapping used:
               Age  Age_Numeric
Under 18 years old         16.0
   18-24 years old         21.0
   25-34 years old         29.5
   35-44 years old         39.5
   45-54 years old         49.5
   55-64 years old         59.5
 65 years or older         70.0
 Prefer not to say          NaN

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [22]:
print("="*60)
print("TASK 6: Number of unique countries")
print("="*60)
unique_countries = df['Country'].nunique()
print(f"Number of unique countries: {unique_countries}")
print("\n")

# Bonus: Show the list of unique countries
print("List of unique countries:")
print(df['Country'].unique())
print("\n")

============================================================
TASK 6: Number of unique countries
============================================================
Number of unique countries: 185


List of unique countries:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Copyright ©  IBM Corporation. All rights reserved.